{% extends './navbarsubs.html' %}
{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        font-family: Arial;
    }
  
    .welcome-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
  
    .welcome-message {
        font-size: 52px;
        
        color: #333333;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
  </style>
   
{% if et.status == "pending" %}
<div class="welcome-container">
    <div class="welcome-message">
status pending</div></div>
{% endif %}

{% if et.status == "declined" %}
<div class="welcome-container">
    <div class="welcome-message">
status declined
    </div></div>
{% endif %}


{% endblock content %}
