{% extends './navbaradmin.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f1f1f1;
            font-family: Arial;
        }

        .welcome-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        }

        .welcome-message {
            font-size: 52px;
            
            color: #333333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <div class="welcome-container">
        <div class="welcome-message">
            Welcome Admin
        </div>
    </div>
</body>
</html>

{% endblock content %}